<a href="https://colab.research.google.com/github/hkolgur/UOH/blob/main/regular_expressions_re.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Samples of Regular Expressions

#### Search pulls only first instance any where it is present and returns the start and end position of that matched (pattern, string, flags)

#### search -searches in any position. Returns only one match. If matches are on different lines (separated by \\n) it pulls from each of the line 

#### Match- finds  only in beginning of string (re.match(‘c’,’abcd’)) returns none. Even with new lines it doesn’t work it just returns the beginning of string

####bool(re.match(..)) converts none returned to false and  value returned to true

In [2]:
import re

In [ ]:
print(re.match('a','abc'))
print(bool(re.match('c','abc')))

<re.Match object; span=(0, 1), match='a'>
False

##### To Print output: give .gorup(). Default value in group is 0 (.gorup(0) also gives same value)

In [ ]:
print(re.match('a','abc').group())
print(re.search('a','abc').group())
print(re.search('a','abc').span()) # starts at 0 posiiton and ends at position 1

a
a
(0, 1)

In [ ]:

s1="HELLO Im in U.S.A, for 9 Yrs..."

In [ ]:
re.search('[A-Z\sa-z]+',s1).group() # One or more any of the ones present in [ ] will be displayed

'HELLO Im in U'

### Findall
#### Characterset
## \\w matches for alphanumeric character in [A-z,a-z,0-9_]. All digits, chars and underscore. 
#### \\w\\w\\w\\w means 4 characters

####Upper case W is compliment that is not belonging to that charaeter set
####\\W characters not  in [A-z,a-z,0-9 __].

In [ ]:
re.findall('a|c','ycbza') # find c or a

['c', 'a']

#### Quantifiers:
#### +   is a greedy quantifier meaning instead of 1 if there is a match it will return maximum chars that matches.

#### ? Is 0 or more meaning it is optional

#### {n, m} means  minimum n repetitions  and max m repetitions. 

#### {,3},{3,}  means any number of repeats unto 3 & 3 to any number of repeats

#### ‘\\w{3}’ - means 3 \\w ie \\w\\w\\w

In [ ]:
print(re.search(r'\w+','abc efgh ijkl abc')) ### matches characters
print(re.search(r'\d+','this is 100 times better')) ### matches digits

<re.Match object; span=(0, 3), match='abc'>
<re.Match object; span=(8, 11), match='100'>

In [ ]:
print(re.findall('\w{2,4}','a bcd efghi')) # a is not match , bcd is match ,efgh is match . i is left wihich 1 letter so nomatch
print(re.findall('\w{2,4}','a bcd efghijk')) 
print(re.findall('\w{,4}','a bcd efghijk'))  # minimum any and max is 4
print(re.findall('\w{4,}','a bcd efghijk'))  # min is 4 and max is any number

['bcd', 'efgh']
['bcd', 'efgh', 'ijk']
['a', '', 'bcd', '', 'efgh', 'ijk', '']
['efghijk']

In [ ]:
re.findall('[A-Z\Wa-z,]+',s1) # output is list of elements separated by ,

['HELLO Im in U.S.A, for ', ' Yrs...']

#### \\d - Digits \\D- Not a digit
#### . - matches any character except newline
#### .+ means any number of chars except new line
#### DOTALL includes even the newlines

In [ ]:
print(re.search('\d+','33Nwebber lane, Chicago 54329').group()) #first match is returned
print(re.findall('\d+','Mr.Name, 33Nwebber lane, Chicago 54329')) #finds all matches and return as a list
print(re.search('.+','Mr.Name, 33Nwebber lane,\n Chicago 54329.').group()) #\n is not included hence it is terminated
print("\nDOT ALL DEMO\n")
print(re.search('.+','Mr.Name, 33Nwebber lane,\n Chicago 54329.',flags=re.DOTALL).group()) #\n also included

33
['33', '54329']
Mr.Name, 33Nwebber lane,

DOT ALL DEMO

Mr.Name, 33Nwebber lane,
 Chicago 54329.

### Custom character set - 
####creating your own set [ ] anything in squares will be part of the character set. [A-Z] means A to Z if you want to put - then we have to give as \- [A\-Z] mean A , _- and Z

In [ ]:
print(re.search('[A-Za-z\S,]+',"Hello, How, Are, You")) #  One or more of 4 types of characters in [] as we used +
print(re.findall('[A-Za-z\S,]+',"Hello, How, Are, You")) #findall retruns list of all matches
print(re.findall('[A-Z]?[a-z\S,]+',"Hello, How, Are, You")) #  0 or 1 caps followed by small chars or spaces or ,

<re.Match object; span=(0, 6), match='Hello,'>
['Hello,', 'How,', 'Are,', 'You']
['Hello,', 'How,', 'Are,', 'You']

In [ ]:
s1=" 8HELLO Im in U.S.A, for 9 Yrs..."
print(re.findall('[A-Za-z\s,]+',s1)) # more of caps/small/space/,
print(re.findall('[A-Z]?[a-z\s,]',s1)) #caps follwed by 0 or 1 small chars or spaces

[' ', 'HELLO Im in U', 'S', 'A, for ', ' Yrs']
[' ', 'O ', 'Im', ' ', 'i', 'n', ' ', 'A,', ' ', 'f', 'o', 'r', ' ', ' ', 'Yr', 's']

#### Negate with ^ inside the custom set

In [ ]:
print(re.findall('[^A-Z]',s1)) # ^ outside represents starting position but when used in  [] custom set it is negate ie not .
print(re.findall('[^A-Z]+',s1)) 
print(re.findall('[^A-Za-z\s,]+',s1)) #not Caps ,not smalls,not space and not coma

[' ', 'm', ' ', 'i', 'n', ' ', '.', '.', ',', ' ', 'f', 'o', 'r', ' ', '9', ' ', 'r', 's', '.', '.', '.']
[' ', 'm in ', '.', '.', ', for 9 ', 'rs...']
['.', '.', '9', '...']

### Groups
#### Of all the things you find if you want a particular thing then use (). Only the portions in ()  will be returned

#### findall


Below  example once you put ([A-Za-z])+ \w \d \w+  it only pulls the one enclosed in ([A-Za-z])   . Else if you don’t give this () it will pull all words

In [ ]:
s2="John has 4 cats but I think  Mike has 5 dogs"
print(re.findall('[\d][\s][A-za-z]+',s2))
print(re.findall('([\d][\s][A-za-z]+)',s2))
print(re.findall('([A-za-z]+) \w+ \d+ \w+',s2)) # if there is a group in regular expression , 
                                                #instead of pulling whole regular expression, it shows only the one present in gorup.
print(re.findall('[A-za-z]+ \w+ \d+ (\w+)',s2)) #Here gorup is present around (\w+) hence it outputs cats, dogs..
print(re.findall('([A-za-z]+) \w+ (\d+) (\w+)',s2)) #we gave 3 gorups in this 

print("\nBig group along with sub groups")
print(re.findall('(([A-za-z]+) \w+ (\d+) (\w+))',s2)) #we gave 3 gorups and also one large gorup which includes this 3 sub groups
print("\nPrint same using loops")
data=re.findall('(([A-za-z]+) \w+ (\d+) (\w+))',s2)
for i in data:
  print(i[0],i[1],i[2],i[3])

['4 cats', '5 dogs']
['4 cats', '5 dogs']
['John', 'Mike']
['cats', 'dogs']
[('John', '4', 'cats'), ('Mike', '5', 'dogs')]

Big group along with sub groups
[('John has 4 cats', 'John', '4', 'cats'), ('Mike has 5 dogs', 'Mike', '5', 'dogs')]

Print same using loops
John has 4 cats John 4 cats
Mike has 5 dogs Mike 5 dogs

#### Groups are returned as tuples so we can use zip on them:

In [ ]:
info=re.findall('([A-za-z]+) \w+ (\d+) (\w+)',s2)
print(list(zip(*info))) # use zip to gorup names , quantity and animals together

[('John', 'Mike'), ('4', '5'), ('cats', 'dogs')]

### Groups with search. -samples of Span
#### group numbers:
we can select which ever group we want by giving number in it which represents the number of the group 

group(0) represents entire match. group numbers increment form left to right.
 
We can use number in groups(2,1) this will first display second group followed by first group.

In [ ]:
print(re.search('([A-za-z]+) \w+ (\d+) (\w+)',s2))
m1=re.search('([A-za-z]+) \w+ (\d+) (\w+)',s2)
print(m1.group()) #same as .gorup(0) will pull the entire gorup
print(m1.group(1))
print(m1.group(2))
print(m1.group(1,2,1,2,3))# can repeat any number of times
print(m1.span()) # gives start and end  of gorup 0
print(m1.span(2))# gives start and end of gorup 2

<re.Match object; span=(0, 15), match='John has 4 cats'>
John has 4 cats
John
4
('John', '4', 'John', '4', 'cats')
(0, 15)
(9, 10)

### Iterators

Cannot use .group() with findall it will only work for search	
To overcome this we use finditer instead of findall .
Same as find all but instead of list of all the elements , it give one by one 

Imp iterators will exhaust. Meaning if you run for loop once it will display groups and if you run again it won’t display anything. TO redisplay first we have to runt he finditer again and then run the for loop

In [ ]:
it=re.finditer('(([A-za-z]+) \w+ (\d+) (\w+))',s2)

for ele in it:
  print(ele.group())
  print(ele.span())

John has 4 cats
(0, 15)
Mike has 5 dogs
(29, 44)

### Naming Groups ?P<>. - caps P

Can be used in search and finditer

In [ ]:
str1="New York, New york 12345 "
 
print(re.findall('[A-Za-z\s]+',str1)) # find all one or more A-za-z\s 
print(re.search('([A-Za-z\s]+)',str1).group()) # Pull state protion
print(re.findall('([A-Za-z\s]+),([A-Za-z\s]+)(\d+)',str1)) # Pull state city and zip protions as groups
m=(re.findall('([A-Za-z\s]+),([A-Za-z\s]+)(\d+)',str1))

['New York', ' New york ', ' ']
New York
[('New York', ' New york ', '12345')]

In [ ]:
# ?P<City> ?P<State> ?P<zip>  pre-pend this gorup names in regular expression 
pattern=re.compile('(?P<City>[A-Za-z\s]+),(?P<State>[A-Za-z\s]+)(?P<Zip>\d+)')    #compile is used to save the pattern
match=re.match(pattern,str1)
print(match.group('City'))
print(match.group('State'))
print(match.group('Zip'))
print(match.group(3)) # still numbers can be used
print(match.groupdict()) # incase you forget group names dict can be used

New York
 New york
12345
12345
{'City': 'New York', 'State': ' New york ', 'Zip': '12345'}

#### Quantifiers with Groups

quantifiers on groups gives the final value .

In [ ]:
print(re.search('(ab)+','aaaababababababab')) # serches for gorup ab multiple times
print(re.search('[ab]+','aaaababababababab')) # custom char set with quantifier says give either a or b  hence entire strings comes

<re.Match object; span=(3, 17), match='ababababababab'>
<re.Match object; span=(0, 17), match='aaaababababababab'>

In [ ]:
m1=re.search('(ab)+','aaaababababababab') # This creates only one group
print(m1.group(1)) # This is the group only one present
print(m1.group(0)) # This gives pattern of enitre gorup
print(m1.group(2)) #This should give error

ab
ababababababab

IndexError: ignored

In [ ]:
# first (ab)+ consumes everything till 
#end but as it sees it has to satisfy the next gorup it goes back 1 char it is not satisfied then it goes back other char thne it satisfies (ab)
m1=re.search('(ab)+(ab)+','ababababab')  # here 2 gorups are created
print(m1.groups())
print(m1.group(1))
print(m1.group(2))
print(m1.span(2))

('ab', 'ab')
ab
ab
(8, 10)

In [ ]:
str2='12345'
m2=re.search('(\d)+',str2)
print(m2.groups()) # each value is replaced hence last value is preserved
print(m2.span())
str3='1234 789'
re.findall('(\d)+',str3) # This shoudl retreive last satisfying digit form entire string.

('5',)
(0, 5)

['4', '9']

#### Groups for word completions

In [ ]:
str4="Hello! Happy Birthday P1. wish you a Happy Anniversary p2 and wish you a Happy ValentinesDay both"
# instead of wirting Happy Birthday |Happy Anniversay|Happy ValentinesDay ,
##we can take out the common word and the gorup rest of the words in a gorup with or symbol
print(re.findall('Happy (Birthday|Anniversary|ValentinesDay)',str4))
re.search('Happy (Birthday|Anniversary|ValentinesDay)',str4)

['Birthday', 'Anniversary', 'ValentinesDay']

#### Non-Capturing gorups. ?: (syntax similar to gorup names ?P)

Capturing groups that we saw above will store or output the values . But non capturing groups are used to find the pattern without storing/outputing . It outputs entire match value

In [ ]:
print(re.findall('(\d)+',"1234 567")) #capturing group.  
print(re.findall('(?:\d)+',"1234 567")) #Non-capturing group displays entire pattern that matches. 
print(re.findall('\d+',"1234 567")) #Same as non-capturing group but when we need gorup names we can use the previous one
print(re.findall('(?:\d)+(\d)',"1234 567")) #Non-capturing group followed buy capturing gorup

['4', '7']
['1234', '567']
['1234', '567']
['4', '7']

In [ ]:
str5='1*1*1*2*2*1* 1*2*1*2*1* 2*1*1*'
print(re.findall(r'(1\*){2,}',str5))
print(re.findall(r'(1\*){3,}',str5))
#How to find the pattens that have this series . That means if it has this series then print all pattern that it matches .
#for this we can use the noncapturing groups
print(re.findall(r'(?:1\*){2,}',str5))
print(re.findall(r'(?:1\*){2,}\d+',str5)) # pattern followed by one or more digits
print(re.findall(r'(?:1\*){2,}\d?',str5)) # pattern followed by zero or 1 digit

['1*', '1*']
['1*']
['1*1*1*', '1*1*']
['1*1*1*2']
['1*1*1*2', '1*1*']

In [ ]:
#with search and match
print(re.search(r'(?:1\*){2,}',str5))
m5=re.search(r'(?:1\*){2,}',str5)# as it is noncapturing gorup it will not have any gorups
m5.groups() #shoudl be empty

<re.Match object; span=(0, 6), match='1*1*1*'>

()

#### Backrefrencing the gorups uing \1

In [ ]:
#when a gorup is used we can backrefrence /repeat it again uing \1
#USED TO FIND DUPLICATES

print(re.search(r'(\w+) \1','Happy Happy NewYear')) #bunch of chars followed by space and then followed by last gorup ie bunch of characters
print(re.findall(r'(\w+) \1','Happy Happy New Year'))#here New Year is also bunch of chars followed by space and bunch of chars but
                                                    #it is not same as previous bunch of chars that were ingorup. Hence it will not satisfy

<re.Match object; span=(0, 11), match='Happy Happy'>
['Happy']

In [ ]:
print(re.findall(r'(\w+) \1','Happy Happy New Year very very nice so so beautiful')) # Happy Very and So are repeating words

['Happy', 'very', 'so']

In [ ]:
print(re.findall(r'(\w+) \1','Happy Happy New Year very very nice Happy Happy beautiful')) # Happy is used multiple times so it outputs each time

['Happy', 'very', 'Happy']

In [ ]:
print(re.findall(r'(\w+) \1 [A-Za-z\s]+(\d+) \2','Happy Happy New Year 2021 2021 very very nice 2020 Happy Happy beautiful')) #back refrence 2 gorups

[('Happy', '2021')]

In [ ]:
#Find all the names that has a series of 123 in their id
s3="123123 = Mike,1223412 = Derick,2312312345 = John,"
print(re.findall(r'(?:123)+',s3)) # pulls the patterns that match it and we have non-capturing group so it displays entire string
print(re.findall(r'(?:123)+(?:\d+) = (\w+)',s3)) #find names where it has repeating 123 in them followed by some digits then has = name

['123123', '123123']
['Mike', 'John']

#### Flag , split, sub
^ - matches at Beginning of string

$ - matches at Ending of string

flags:
- re.MULTILINE - Each of the new lines          
- re.IGNORECASE - Ignores case           
-re.DOTALL      -Includes new line also \n

In [ ]:
text="""The longtime Cowboys tight end at 
age 37. shocked everyone when he stepped away from a 
cushy gig in the “Monday Night Football” booth to strap his helmet back 
on and rejoin Dallas. Now back at football level, Witten is finding new ways to 
motivate himself at age 37."""

print(re.search(r'^age 37\.',text)) # check at beginning it is not present
print(re.search(r'age 37\.$',text).group()) # check at end it is  present
print(re.search(r'^age 37\.',text,flags=re.MULTILINE).group()) # check at beginning in each of the new line and finds a match 
print(re.match(r'^age 37\.',text,flags=re.MULTILINE))  # MULTILINE does not work with match it works only with search . match gives same non result

None
age 37.
age 37.
None

In [ ]:
print(re.findall(r'football',text,flags=re.IGNORECASE)) # ignores case and finds

['Football', 'football']

In [ ]:
print(re.match(r'.*',text).group()) # ends at the first line as \n is encountered
print("\n Lets see next with DOTALL\n")
print(re.match(r'.*',text,flags=re.DOTALL).group()) # pulls whole text

The longtime Cowboys tight end at

 Lets see next with DOTALL

The longtime Cowboys tight end at
age 37. shocked everyone when he stepped away from a
cushy gig in the “Monday Night Football” booth to strap his helmet back
on and rejoin Dallas. Now back at football level, Witten is finding new ways to
motivate himself at age 37.

### re.methods


#### re.split

In [ ]:
s5='This is first line. Followed by Second line. Then the thrid line.'
print(re.split('\.',s5)) # we dont not get the . 
print(re.split('(\.)',s5)) # if we give it as a gorup we get .  but it comes a separate element.
split='.'
[i+split for i in re.split('\.',s5)] #work around we can use list comprehension

['This is first line', ' Followed by Second line', ' Then the thrid line', '']
['This is first line', '.', ' Followed by Second line', '.', ' Then the thrid line', '.', '']

['This is first line.',
 ' Followed by Second line.',
 ' Then the thrid line.',
 '.']

In [ ]:
string='<p>I have<span style="color:black">black</span>hair</p>'
print(re.split('<[A-Za-z:=\s\""/]+>',string))    # give the chars  you want to allow in custom charset . split happens at each of staisfying position
print(re.split('<[^<>]+>',string)) # Alternate way is to not include < > in custom char set

['', 'I have', 'black', 'hair', '']
['', 'I have', 'black', 'hair', '']

#### Empty stirng problem . We see empty strings at beginning and ending . This can be tackeled using lsit comprehension

In [ ]:
print([i for i in re.split('<[A-Za-z:=\s\""/]+>',string) if i!=''])

['I have', 'black', 'hair']

In [ ]:
#Alternative to split findall
re.findall('>([^<]+)',string)

['I have', 'black', 'hair']

In [ ]:
print(re.split(',',',happy ,birthday,'))
',happy ,birthday,'.split(',') #string.split
list(filter(None,',happy ,birthday,'.split(','))) # use stirng split with filter to remove empty strings

['', 'happy ', 'birthday', '']

['happy ', 'birthday']

### re.sub

In [ ]:
string='A has 3 cats B has 4 dogs C has 8 birds'
square= lambda x: x**2

print((re.findall('(\d)+',string)))
n=((re.findall('(\d)+',string)))
print(list(map(square,[int(i) for i in n])))

# ALternatively we can do the same as below with sub

print(re.sub('(\d)+',lambda x: str(square(int(x.group(0)))),string))

['3', '4', '8']
[9, 16, 64]
A has 9 cats B has 16 dogs C has 64 birds

In [ ]:
input='eat laugh study sleep'

print(re.sub('(\w+)','ing',input)) # sub each word with ing 
list(map(lambda x: x+'ing' ,re.split(' ',input))) #concat ing to each word

re.sub('\w+',lambda x: x.group()+'ing',input) # using sub

ing ing ing ing

'eating laughing studying sleeping'

#### Backrefrencing with subs

In [ ]:
string="Merry Merry Christmas"
print(re.sub(r'(\w+) \1','Happy',string)) 
print(re.sub(r'(\w+) \1',r'Happy \1',string))  # we are backrefrencing group in the replacement string too so changing Merry Merry to Happy Merry

string="Hello 2021 NewYear"
print(re.sub(r'(\w+) (\d+)',r'Happy \2',string)) # using group 2 in replacement stirng

Happy Christmas
Happy Merry Christmas
Happy 2021 NewYear

#### Word Boundries

\b word boundry check both sides and see if there is a alphanumeric character on one side  and non-alpha numeric on other side. (. is not alpha numeric)

\B is opposite which checks for either alpha numeric on both side or non alphanumeric on both sides
#### [A-Za-z0-9_] - AlphaNumeric- \w
#### +:@^% - \W
#### . is not AlphaNumeric (space is also not alpha numeric)

In [4]:
string="cat catherine catholic wildcat copy uncatchable" # How to pull the first cat alone

pattern=re.compile('cat') #this pulls all words that contain cat
print(re.findall(pattern,string))

pattern= re.compile('cat ') # this pulls other words that end with cat
print(re.findall(pattern,string)) 

pattern= re.compile(r'\bcat\b') # giving word boundries at beginning and ending will  fetch word alone where it is present separately
print(re.findall(pattern,string))  #first \b cursor at "cat and see on left non alpha and righ alpha so it pulls. 
                                    #In call other cases it dont have this combo

string1=".cat catherine uncatchable" # it pulls cat as it considers . as non alpha numeric
print(re.findall(pattern,string))

['cat', 'cat', 'cat', 'cat', 'cat']
['cat ', 'cat ']
['cat']
['cat']

In [65]:
#Below twitter handles 1,2 are valid 3,4 are invalid 5 is valid
string='@mytweethandle @mytweet_handle h@tweet @hktweek.com @9vido_h'
pattern=re.compile(r'\b@[\w]+\b') # This check for word boundry which is alpha and non alpha on either side which is satisfied by h@tweet . 
#because cursor is before the @ and sees alpha on left and @ on right which is non alpha hence it pulls it.
#for first cursor is at beginning and sees ' to left which is non alpha and @ to right which is also non Alpha and it does not pull
print(re.findall(pattern,string))

['@tweet']

In [66]:
# To oversomce problem above lets change \b to \B (both sides either alpha or non alphs)
string='@mytweethandle @mytweet_handle h@tweet @hktweek.com @9vido_h'
pattern=re.compile(r'\B@[\w]+\b') # we see 1,2,5 are retrived as expected but it also pulls 4 @hktweek.com which is not valid
print(re.findall(pattern,string))

['@mytweethandle', '@mytweet_handle', '@hktweek', '@9vido_h']

In [68]:
# As an improvement in next step we have to find a way to igone if there is a . in middle . THis can be done by negative look ahead
## Negative Look head with out consuming (?!) we can use like (?:\.) look ahead and see if there is a . if so discard it
string='@mytweethandle @mytweet_handle h@tweet @hktweek.com @9vido_h'
pattern=re.compile(r'\B@[\w]+\b(?!\.)')
print(re.findall(pattern,string))

['@mytweethandle', '@mytweet_handle', '@9vido_h']

#### Capture vs Consume:
Capture is used wrt gorups where we have capturing groups which outputs something. Non capturing groups make a match but do not output .

Consume - Cursor moves ahead and consumes character.Regular expression it consumes characters eg. \w+ looks for all alpha numerics . Going though string and all that matches is consumed meaning the cursor is moved

#### Look Arounds

Allows us to confirm if some sort of patter is ahead or behind main pattern

Positive Look ahead  ?=

Negative Look ahead  ?!

Positive Look behind ?<=

Negative Look behind ?<! 

#### Simillar syntax to ?:non-capturing groups and ?P (naming gorups)

In [94]:
#Req get the second column only if the first column has ABC in it and the last column has active in it. ie 1 and 3 only not second line
string ="""ABC1a   1.1.1.1    249342  active 
           ABC1    2.2.2.2   352344  inactive
           ABC2    3.3.3.3   399322  active"""

In [98]:
pattern=re.compile(r'ABC\w+\s+(\S+)\s+\S+\s+active')
print(re.findall(pattern,string))

pattern=re.compile(r'ABC\w+\s+(\S+)\s+\S+\s+(?=active)')
print(re.findall(pattern,string))

['1.1.1.1', '3.3.3.3']
['1.1.1.1', '3.3.3.3']

In [100]:
#Demo noncapturing gorup vs positive look ahead with search
pattern=re.compile(r'ABC\w+\s+(\S+)\s+\S+\s+(?=active)')
print(re.search(pattern,string)) # we see that active column is not captured as it is a positive look ahead

pattern=re.compile(r'ABC\w+\s+(\S+)\s+\S+\s+(?:active)')
print(re.search(pattern,string)) # we see that active column is captured when we use the non-captuing group

<re.Match object; span=(0, 27), match='ABC1a   1.1.1.1    249342  '>
<re.Match object; span=(0, 33), match='ABC1a   1.1.1.1    249342  active'>

In [107]:
# Eg to show non capturing groups consume vs look ahead/behind do not consume
# Find all a's that are surrounded by b 
string='abababcd' 
pattern=re.compile(r'(ab)') # this pulls all ab's
print(re.findall(pattern,string))

pattern=re.compile(r'(?:b)(a)(?:b)') # this pulls only one a because cursor moves
print(re.findall(pattern,string))

# this pulls all 2 a's . First cursr at a it is not preceeded by b hence goes to b then see if is preceeded by b no so moves to next a then sees 
#it is preceeded by b and also letter next to this a is a b hence it is shown but the cursor still stays at a.It then moves to b
pattern=re.compile(r'(?<=b)(a)(?=b)') 
print(re.findall(pattern,string))

['ab', 'ab', 'ab']
['a']
['a', 'a']

In [10]:
string="I love cherries, strawberries, bananas."

pattern=re.compile(r'(\w+)(?=,|\.)') # get words tahat have , or .
print(re.findall(pattern,string))

['cherries', 'strawberries', 'bananas']

#### Consequtive look around fallacy

In [23]:
string="""cherries 100 red
          apples   150 green
          grapes   200"""

pattern=re.compile(r'[A-Za-z]+(?=\s*)(?=\d+)(?=\s*)(?=\w+)')#checks for bunch of chars followed by spaces and cursor comes back and see for
                                                            #digits and comes back  and checks for spaces and comes back and checks for bunch of chars
print(re.findall(pattern,string))                           #hence we see empty string

#Key take away is though we put look aheads consequtively it will not go and look one after the other in that order .rather each time 
#cursor comes back and checks the next look ahead. Lets try to put the entire look ahead in one go

[]

In [27]:
pattern=re.compile(r'[A-Za-z]+(?=\s*\d+\s*[A-za-z]+)') # put in one look ahead and it check one after the other
print(re.findall(pattern,string))

['cherries', 'apples']

In [66]:
# Sample password validation to include 1 caps 1 lower 1 digit 1 special char etc
string='AZN#3232!abb32..'
pattern=re.compile(r'(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!.?])\S+')  # checking for one caps one digit one punct etc and then at last place we are consuming with \S
print(re.search(pattern,string)) 
string='AZN#3232abb32#'     #special chars are not present hence returns nons
print(re.search(pattern,string))

<re.Match object; span=(0, 16), match='AZN#3232!abb32..'>
None

### Negative Look Arounds ?! ?<!

In [82]:
#Find all occupations other than Baking Baker Cook 
string="""
  Remaining Party Applicants
  
  Occupation:  Clown
  Occupation:  Baker
  Occupation:  Florist
  Occupation:  Party Planner
  Occupation:  Cook
  Occupation:  baker
  Occupation:  Electrician"""

pattern=re.compile(r'Occupation:\s\s(?!Baker|Baking|Cook).+',flags=re.IGNORECASE) # it will putll occupation: followed by spaces then negative look aheads 
                                                                   #and at last  it is consumed with .+ any chars
print(re.findall(pattern,string))

['Occupation:  Clown', 'Occupation:  Florist', 'Occupation:  Party Planner', 'Occupation:  Electrician']

In [152]:
string="""Full Invitation List:
          Florist: Michel
          Baker: John
          Author: Seema Patel
          Guest: Ashley Jackson
          Cook: Sam
          Baker: Dan"""

#Find all names other than Baker
# Seema Patel will not come because it has 2 words but our pattern is looking for a word that is not preceeded by Baker 


pattern=re.compile(r'(?<!Baker: )\b\w+$',flags=re.IGNORECASE|re.M) #$ with re.M will say that it is at end of each line
print(re.findall(pattern,string))

# To pull the names that have 2 words we can repeat the pattern with | 
pattern=re.compile(r'(?<!Baker: )(\b\w+$|\b\w+\s\w+$)',flags=re.IGNORECASE|re.M)  
print(re.findall(pattern,string))

['Michel', 'Patel', 'Jackson', 'Sam']
['Michel', 'Seema Patel', 'Ashley Jackson', 'Sam']

In [169]:
# To pull the entire string where the is a match instead of name
string="""Full Invitation List:
          Florist: Michel
          Baker: John
          Author: Seema Patel
          Guest: Ashley Jackson
          Cook: Sam
          Baker: Dan"""
pattern=re.compile(r'^(?!Baker: ).+',flags=re.IGNORECASE|re.M) 
print(re.findall(pattern,string))

['Full Invitation List:', '          Florist: Michel', '          Baker: John', '          Author: Seema Patel', '          Guest: Ashley Jackson', '          Cook: Sam', '          Baker: Dan']

#### regex module 
### re do not allow variable lenght in look behinds..work around is we can use regex

In [181]:
import regex

In [190]:
# if the col 2 has aplhanumeric then pull the respective col 4
string ="""131 xBC    1111   249342  active
           242 AxC    2222   352344  inactive
           233 123    3333   399322  active
           144 467    4444   324234  active""" 

pattern=regex.compile(r'(?<=[A-Za-z]+)\s+(\d+)\s+(?:\d+)\s+\w+$',flags=re.M)
print(regex.findall(pattern,string))

['1111', '2222']

In [254]:
# Pull the calc.exe path that do not have system32
s1="c:\windows\system32\calc.exe"
s2="c:\windows\test\system32\calc.exe"
s3="c:\windows\new\system32\calc.exe"
s4="c:\windows\tools\calc.exe"
pattern=regex.compile(r'(?<!system32.*)calc.exe',flags=re.M)
print(regex.findall(pattern,s1))
print(regex.findall(pattern,s2))
print(regex.findall(pattern,s3))
print(regex.findall(pattern,s4))

[]
[]
[]
['calc.exe']

### Mask Email

#### Using Regular Expression

In [367]:
def mask_email(s):
  """Check if the email has @
     split the email @ to get domain protion
     check if the domain has either 1 or 2 dots
     mask the id portion with ####
     """
  if '@' in s:
    s1,s2=re.split('@',s)
    p1=re.compile(r'([A-Za-z]+\.)')
    #print(len(re.findall(p1,s2))) 
    if (len(re.findall(p1,s2))>0 and len(re.findall(p1,s2))<=2 ):
      p2=re.compile(r'\B[A-Za-z\d]+[\.]?[A-Za-z\d]+(?=\w)')
      #print(re.sub(p2,'####',s1))
      return (re.sub(p2,'####',s1)+'@'+s2)
    return "Invalid Email"
  return "Invalid Email"

s='first.last@gov.edu.incom'  # valid email with 2 dots in domain
print(mask_email(s))
s='first.last@gov.edu' # valid email with 2 dots in domain
print(mask_email(s))
s='first.last@gov' # In-valid email with no dots in domain
print(mask_email(s))
s='first.last@gov.in.com.edu' # In-valid email with 3 dots in domain
print(mask_email(s))
s='first.lastgov.in.com.edu' # In-valid email without @
print(mask_email(s))
s='firstlastgovincomedu' # In-valid email without @ and .
print(mask_email(s))

f####t@gov.edu.incom
f####t@gov.edu
Invalid Email
Invalid Email
Invalid Email
Invalid Email

#### Using String split with out domain validation

In [19]:
def fun_spl(s):
  if '@' in s:
    n,d=s.split('@')
    return('{0}####{1}@{2}'.format(n[0],n[-1],d))

print(fun_spl('abcd@efg.com'))
print(fun_spl('abcdefg.com'))
print(fun_spl('abcde@fg.com.edu'))

a####d@efg.com
None
a####e@fg.com.edu

In [48]:
import re
num='(1)-732- 4859-876'
num_d=''.join(re.findall('\d+',num))
print("Modified Phone number First Method:",num_d)
print("First Method Result:",'###-###-'+num_d[-4:])

num_d=re.sub('\D','',num)
print("Modified Phone number Second Method:",num_d)
print("Second Method Result",'###-###-'+num_d[-4:])

Modified Phone number First Method: 17324859876
First Method Result: ###-###-9876
Modified Phone number Second Method: 17324859876
Second Method Result ###-###-9876

In [52]:
def ph_mask(num):
  num_d=re.sub('\D','',num)
  if len(num_d)>=10:
    return ('###-###-'+num_d[-4:])
  else:
    return "Invalid Phone Number"

print(ph_mask('(1)-732- 4859-876')) #
print(ph_mask('(1)-732-9-876')) # digits less than 10 
print(ph_mask('+(91)-732- 4859-876')) #phone number with international code

###-###-9876
Invalid Phone Number
###-###-9876

In [63]:
#Print in Internation format followed by masking
def ph_mask(num):
  num_d=re.sub('\D','',num)
  if len(num_d)>=10 and len(num_d)<=15:
    return ('+({0})###-###-{1}'.format(num_d[:-10],num_d[-4:]))
  else:
    return "Invalid Phone Number"

print(ph_mask('+(91)-732- 4859-876')) #valid with internation code
print(ph_mask('+(91242429)-732- 4859-876')) #valid with internation code

+(91)###-###-9876
Invalid Phone Number